<!DOCTYPE html>
<html lang="en">
<body>
    <main>
        <div>

            <a href="/animals/new"><button>Make new animal</button></a>
            <a href="/user/logout"><button>Logout</button></a>

            <% for (animal of animals) { %>
            <article>
                <a href="/animals/<%= animal._id %>">
                <h2>
                    <%= animal.species %> - <%= animal.extinct %>
                </h2></a>
            </article>
        <% } %>
        </div>
    </main>

</body>
</html>